.container {
  /* contanier for game board and direction screen */
  display: inline-flex;
  width: 98vw;
}

#direction-screen {
  flex: 0 1 32.5%;
  justify-content: center;
  text-align: center;
  color: white;
}

#instructions {
  flex: 0 1 32.5%;
  padding-left: 1em;
  color: white;
  line-height: 1.5rem;
  overflow: hidden;
}

#instructions #Title {
  text-align: center;
}

#output {
  margin-top: 200px;
}
